<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PaySmart Portal</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <!--<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">-->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="vendor/animate/animate.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/theme-elements.css">
    <link rel="stylesheet" href="css/theme-blog.css">
    <link rel="stylesheet" href="css/theme-shop.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="vendor/rs-plugin/css/navigation.css">
    <link rel="stylesheet" href="vendor/circle-flip-slideshow/css/component.css">

    <!-- Demo CSS -->
    <!-- Skin CSS -->
    <link rel="stylesheet" href="css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Head Libs -->
    <script src="vendor/modernizr/modernizr.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-init="GetAvailableServices();" ng-model="Booking">
    <div class="body">
        <header id="header" class="header-narrow header-full-width" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 55, 'stickySetTop': '-55px', 'stickyChangeLogo': true}">
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="index.html">
                                        <img alt="PaySmart" width="111" height="94" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33" src="img/logo-big.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row pt-3">
                                <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills">
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle" href="#">Partner with Us as</a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown">
                                                        <a class="dropdown-item" href="#">Driver</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a class="dropdown-item" href="#">Brand Ambassador</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a class="dropdown-item" href="#">Vehicle Owner</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a class="dropdown-item" href="#">Fleet Owner</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav">
                                                <span class="ws-nowrap"><i class="fas fa-phone"></i> (123) 456-789</span>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-search d-none d-md-block">
                                    <form id="searchForm" action="page-search-results.html" method="get">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
                                            <span class="input-group-append">
                                                <button class="btn btn-light" type="submit"><i class="fas fa-search"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <nav class="header-nav-top">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item d-none d-sm-block">
                                            <a class="nav-link" href="Registration.html"><i class="fas fa-angle-right"></i>Sign In/Sign Up</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                            <div class="header-row">
                                <div class="header-nav">
                                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                        <nav class="collapse">
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="dropdown">
                                                    <a class="active" href="index.html">
                                                        Home
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        Fares/Payments
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="Fares_and_payments.html">Check Fares</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="pages-coming-soon1.html">Recharge</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="refund.html">Refund</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="pages-coming-soon1.html">Renewals</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="shedules.html">Schedules</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        Cancel/Modify
                                                    </a>

                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="ui/cancellation.html">Cancel Journey</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="ui/cancellation.html">Cancel/Modify Ticket</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        Online Shop
                                                    </a>

                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="Products.html">Products</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="Licenses.html">
                                                        LicensesTesting
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="productsshown.html">
                                                        Licenses
                                                    </a>

                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="shortcode-pricing-tables.html">Advertisement Licence</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="shortcode-pricing-tables.html">BT POS Licence</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="cards.html">Cards</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="LicensePage.html">Fleet Owner Licence</a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="Renewal.html">Fleet Owner Renewal Licence</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#">
                                                        Contact Us
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="contact-us.html">Contact Us</a></li>
                                                        <li><a class="dropdown-item" href="contact-us-advanced.php">Trouble Ticket/Complaints</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <ul class="header-social-icons social-icons d-none d-sm-block">
                                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div role="main" class="main" style="border-top:2px solid lightgrey;">
            
            
            
            <section id="content" class="gray-area">
                <div class="container">
                    <div class="row">
                        <div id="main" class="col-sms-6 col-sm-8 col-md-9">
                            <div class="booking-section travelo-box">

                                <form class="booking-form">


                                    <div class="container" style="margin-top:10Px;min-height:380px;">
                                        <h2 style="margin-left:30px">Checkout</h2>

                                        <div class="col-md-7">
                                            <div class="panel panel-grey">

                                                <div class="panel-body pan">

                                                    <div class="form-body pal">
                                                        <div class="form-group row">
                                                            <div class="col-sm-3 col-md-4">
                                                                <label>first name</label>
                                                                <div><input id="inputFirstName" type="text" value={{userdetails.FirstName}} placeholder="First Name" class="form-control"></div>

                                                            </div>
                                                            <div class="col-sm-3 col-md-3">
                                                                <label>middle name</label>
                                                                <div><input id="inputMiddlename" type="text" value={{userdetails.middlename}} placeholder="First Name" class="form-control" /></div>

                                                            </div>
                                                            <div class="col-sm-3 col-md-3">
                                                                <label>last name</label>
                                                                <div><input id="inputLastName" type="text" value={{userdetails.LastName}} placeholder="Last Name" class="form-control" /></div>

                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-sm-6 col-md-5">
                                                                <label>email</label>
                                                                <div><input id="inputEmail" value={{userdetails.EmailAddress}} type="text" placeholder="E-mail" class="form-control" /></div>

                                                            </div>
                                                            <div class="col-sm-6 col-md-5">
                                                                <label>Phone Number</label>
                                                                <div><input id="inputPhone" value={{userdetails.Mobile}} type="text" placeholder="Phone" class="form-control" /></div>

                                                            </div>
                                                        </div>



                                                        <div class="row" style="margin-top:0px;background-color:aliceblue">

                                                            <div class="col-lg-12">
                                                                <h3>Payment options</h3>
                                                                <div class="tabbable tabs-left" style="margin-top:0px;background-color:aliceblue">
                                                                    <ul id="myTab2" class="nav nav-tabs">

                                                                        <li><a href="#debtcard" data-toggle="tab">Debt card</a></li>
                                                                        <li class="active"><a href="#creditcard" data-toggle="tab">Credit card</a></li>
                                                                        <li><a href="#netbanking" data-toggle="tab">Net banking</a></li>
                                                                        <li><a href="#paypal" data-toggle="tab">Paypal</a></li>
                                                                    </ul>
                                                                    <div id="myTabContent2" class="tab-content" style="background-color: aliceblue">
                                                                        <div id="paypal" class="tab-pane fade in active">
                                                                            <div class="form-group"><input id="inputNameCard" type="text" value="Test User" placeholder="Name on card" class="form-control" /></div>
                                                                            <div class="row">
                                                                                <div class="col-md-9">
                                                                                    <div class="form-group"><input id="inputCardNumber" type="text" value="4024007185826731" placeholder="Card number" class="form-control" /></div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <div class="form-group"><input id="inputCVV2" type="text" value="874" placeholder="CVV2" class="form-control" /></div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-md-11">
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group"><label class="pts">Expiration date:</label></div>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <div class="form-group">
                                                                                            <select class="form-control">
                                                                                                <option>11</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group"><label class="pts">Expiration Year:</label></div>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <div class="form-group">
                                                                                            <select class="form-control">
                                                                                                <option>2018</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div id="debtcard" class="tab-pane fade">
                                                                            <div class="form-group"><input id="inputNameCard" type="text" value="Test User" placeholder="Name on card" class="form-control" /></div>
                                                                            <div class="row">
                                                                                <div class="col-md-9">
                                                                                    <div class="form-group"><input id="inputCardNumber" type="text" value="4024007185826731" placeholder="Card number" class="form-control" /></div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <div class="form-group"><input id="inputCVV2" type="text" value="874" placeholder="CVV2" class="form-control" /></div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-md-11">
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group"><label class="pts">Expiration date:</label></div>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <div class="form-group">
                                                                                            <select class="form-control">
                                                                                                <option>11</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group"><label class="pts">Expiration Year:</label></div>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <div class="form-group">
                                                                                            <select class="form-control">
                                                                                                <option>2018</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div id="creditcard" class="tab-pane fade">
                                                                            <div class="form-group"><input id="inputNameCard" type="text" value="Test User" placeholder="Name on card" class="form-control" /></div>
                                                                            <div class="row">
                                                                                <div class="col-md-9">
                                                                                    <div class="form-group"><input id="inputCardNumber" type="text" value="4024007185826731" placeholder="Card number" class="form-control" /></div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <div class="form-group"><input id="inputCVV2" type="text" value="874" placeholder="CVV2" class="form-control" /></div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="col-md-11">
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group"><label class="pts">Expiration date:</label></div>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <div class="form-group">
                                                                                            <select class="form-control">
                                                                                                <option>11</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group"><label class="pts">Expiration Year:</label></div>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <div class="form-group">
                                                                                            <select class="form-control">
                                                                                                <option>2018</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div id="netbanking" class="tab-pane fade">

                                                                            <div class="row">

                                                                                <div class="col-md-9">

                                                                                    <select class="form-control col-md-8">
                                                                                        <option value="" selected>----select Bank----</option>
                                                                                        <option value="21">Bank1</option>
                                                                                        <option value="22">Bank12</option>
                                                                                        <option value="23">Bank13</option>
                                                                                        <option value="24">Bank14</option>
                                                                                    </select>
                                                                                </div>

                                                                                <div class="col-md-3">
                                                                                    <button class="btn btn-primary" ng-click="GoToNetbanking();">Submit</button>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!--<div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group mbn"><label class="pts">Expiration date</label></div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <select class="form-control">
                                                                <option>Month</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group mbn"><input id="inputYear" type="text" placeholder="Year" class="form-control" /></div>
                                                    </div>
                                                </div>-->
                                                    </div>
                                                    <div class="text-right pal">
                                                        <button class="btn btn-primary" ng-click="ProceedToPayment();">Make payment</button>

                                                    </div>

                                                </div>
                                            </div>



                                        </div>

                                    </div>





                                </form>
                            </div>
                        </div>
                        <div class="sidebar col-sms-6 col-sm-4 col-md-3" id="main">
                            <div class="booking-details travelo-box">
                                <h4>Order Summary</h4>
                                <article class="car-detail">

                                    <div class="details">
                                        <div class="icon-box style11 full-width">
                                            <div class="icon-wrapper">
                                                <i class="soap-icon-passed"></i>
                                            </div>
                                            <dl class="details">
                                                <!--<dt class="skin-color">Date</dt>-->
                                                <dd>Per unit price: ${{onwarddetails.perunitprice}}</dd>
                                            </dl>
                                        </div>
                                        <div class="icon-box style11 full-width">
                                            <div class="icon-wrapper">
                                                <i class="soap-icon-myspace"></i>
                                            </div>
                                            <dl class="details">
                                                <!--<dt class="skin-color">Time</dt>-->
                                                <dd>No. Of Seats: {{onwarddetails.NoOfSeats}}</dd>
                                            </dl>
                                        </div>
                                        <div class="icon-box style11 full-width">
                                            <div class="icon-wrapper">
                                                <i class="soap-icon-passenger"></i>
                                            </div>
                                            <dl class="details">
                                                <!--<dt class="skin-color">Location</dt>-->
                                                <dd>Selected Seats: {{onwarddetails.Seats}}</dd>
                                            </dl>
                                        </div>
                                        <div class="icon-box style11 full-width">
                                            <div class="icon-wrapper">
                                                <i class="soap-icon-passed"></i>
                                            </div>
                                            <dl class="details">
                                                <!--<dt class="skin-color">Location</dt>-->
                                                <dd>Sub Total: ${{onwarddetails.Amount}}</dd>
                                            </dl>
                                        </div>

                                    </div>



                                    <dl class="other-details">

                                        <dd class="total-price-value">Total amount payable: ${{onwarddetails.amount}}</dd>
                                    </dl>
                                </article>
                            </div>

                            <!--<div class="travelo-box contact-box">
                        <h4>Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                            <br>
                            <a class="contact-email" href="#">help@travelo.com</a>
                        </address>
                    </div>-->
                        </div>
                    </div>
                </div>
            </section>

            
        </div>
        <footer class="short" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <h4>About PaySmart Portal</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos... <a href="#" class="btn-flat btn-xs">View More <i class="fas fa-arrow-right"></i></a></p>
                        <hr class="light">
                        <div class="row">
                            <div class="col-lg-3">
                                <h5>Blog</h5>
                                <ul class="list list-icons list-icons-sm">
                                    <li><i class="fas fa-caret-right"></i> <a href="blog-full-width.html">Blog Full Width</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="blog-large-image.html">Blog Large Image</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="blog-medium-image.html">Blog Medium Image</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="blog-post.html">Single Post</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <h5>Pages</h5>
                                <ul class="list list-icons list-icons-sm">
                                    <li><i class="fas fa-caret-right"></i> <a href="page-full-width.html">Full width</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="page-left-sidebar.html">Left sidebar</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="page-right-sidebar.html">Right sidebar</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="page-custom-header.html">Custom Header</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <h5>Portfolio</h5>
                                <ul class="list list-icons list-icons-sm">
                                    <li><i class="fas fa-caret-right"></i> <a href="portfolio-2-columns.html">2 Columns</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="portfolio-3-columns.html">3 Columns</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="portfolio-4-columns.html">4 Columns</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="portfolio-single-small-slider.html">Single Project</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <h5>Extra Pages</h5>
                                <ul class="list list-icons list-icons-sm">
                                    <li><i class="fas fa-caret-right"></i> <a href="page-team.html">Team</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="page-services.html">Services</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="page-careers.html">Careers</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="page-faq.html">FAQ</a></li>
                                    <li><i class="fas fa-caret-right"></i> <a href="sitemap.html">Sitemap</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h5 class="mb-2">Contact Us</h5>
                        <span class="phone">(800) 123-4567</span>
                        <p class="mb-0">International: (333) 456-6670</p>
                        <p class="mb-0">Fax: (222) 531-8999</p>
                        <ul class="list list-icons mt-4">
                            <li><i class="fas fa-map-marker-alt"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</li>
                            <li><i class="far fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></li>
                        </ul>
                        <ul class="social-icons mt-4">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>

                        <a href="index.html" class="logo">
                            <img height="2" alt="Porto Website Template" class="img-fluid" src="img/apple-appstore-button.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">

                    <hr class="light">
                    <div class="row">
                        <div class="col-lg-1">
                            <a href="index.html" class="logo">
                                <img alt="Porto Website Template" class="img-fluid" src="img/logo-footer.png">
                            </a>
                        </div>
                        <div class="col-lg-11">
                            <p>© Copyright 2018. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- Vendor -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="vendor/popper/umd/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/common/common.min.js"></script>
    <script src="vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="vendor/isotope/jquery.isotope.min.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="vendor/vide/vide.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
    <!--<script src="js/views/view.home.js"></script>-->
    <!-- Theme Custom -->
    <script src="js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="js/theme.init.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="js/ngStorage.js"></script>
    <script src="js/fileupload/angular-file-upload.js"></script>
    <script src="js/fileupload/angular-file-upload-shim.js"></script>
    <!--<script src="js/Search.js"></script>-->
    <script src="js/TicketCheckout.js"></script>
    <script src="js/fileupload/Upload.js"></script>
    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12345678-1', 'auto');
        ga('send', 'pageview');
    </script>
     -->

</body>
</html>